{{> head}}

{{> navbar }}


<div class="row">

<div class="col-8">
    <h1>NodeJs debo controlar si el partido quiero ganar.</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse explicabo tempore necessitatibus inventore sed nesciunt velit suscipit quod nobis nisi debitis nostrum officia deserunt dolores, voluptas maiores corporis, accusamus earum?</p>
</div>

<div class="col-4">
        <img src="assets/img/futbol.jpg" alt="img-thumbnail">

</div>

</div>


{{> footer}}

    